<figure>
  <img src="./assets/img/logo.svg" alt="brand logo" class="brand mt w" />
</figure>
<section class="section flex mt">
  <app-card>
    <card-title>
      Enescent Media
    </card-title>
    <card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
      finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
      pretium libero sem sit amet enim.</card-content
    >
    <card-action>
      <button card-button>
        CONTACT US
      </button></card-action
    >
  </app-card>
  <figure>
    <img src="./assets/img/phone.png" alt="phone" class="phone w ml-l mb" />
  </figure>
</section>
