<p class="ft pb how-title">
  How it works?
</p>
<section class="how-content grid">
  <app-card class="card p">
    <img src="./assets/img/icon-1.svg" alt="icon-1" class="card-icon max-w" />
    <card-title class="card-title">Input Data</card-title>
    <card-content class="card-content"
      >Lorem ipsum dolor sit amet, consectetu adipiscing elit. Phasellus
      finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
      pretium libero sem sit amet.</card-content
    >
  </app-card>
  <app-card class="card p">
    <img src="./assets/img/icon-2.svg" alt="icon-2" class="card-icon max-w" />
    <card-title class="card-title">Process it</card-title>
    <card-content class="card-content"
      >Lorem ipsum dolor sit amet, consectetu adipiscing elit. Phasellus
      finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
      pretium libero sem sit amet.</card-content
    >
  </app-card>
  <app-card class="card p">
    <img src="./assets/img/icon-3.svg" alt="icon-3" class="card-icon max-w" />
    <card-title class="card-title">Out Data</card-title>
    <card-content class="card-content"
      >Lorem ipsum dolor sit amet, consectetu adipiscing elit. Phasellus
      finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
      pretium libero sem sit amet.</card-content
    >
  </app-card>
</section>
