<div class="domain ft title">Domain Applications</div>
<section class="cards grid mt mb">
  <app-card>
    <card-title>Domain Name</card-title>
    <card-content
      >In venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.
    </card-content>
  </app-card>
  <app-card>
    <card-title>Another Domain Name</card-title>
    <card-content
      >In venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.
    </card-content>
  </app-card>
  <app-card>
    <card-title>Domain Maybe</card-title>
    <card-content
      >In venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.
    </card-content>
  </app-card>
  <app-card>
    <card-title>Domain & More Domains</card-title>
    <card-content
      >n venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.</card-content
    >
  </app-card>
</section>
