<p class="domain-title ft pt pb">
  Domain Applications
</p>
<section class="domain-cards grid">
  <app-card class="card p">
    <card-title class="card-title">Domain Name </card-title>
    <card-content class="card-content mt"
      >In venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.
    </card-content>
  </app-card>
  <app-card class="card p">
    <card-title class="card-title">Another Domain Name </card-title>
    <card-content class="card-content mt"
      >In venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.
    </card-content>
  </app-card>
  <app-card class="card p">
    <card-title class="card-title">Domain Maybe </card-title>
    <card-content class="card-content mt"
      >In venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.
    </card-content>
  </app-card>
  <app-card class="card p">
    <card-title class="card-title">Domain & More Domains </card-title>
    <card-content class="card-content mt"
      >In venenatis non justo vel tristique. Fusce purus augue, aliquam eu
      eleifend at, blandit eu ligula. Nunc diam velit, pretium id sap ien eget,
      consequat euismod est. In hac habitasse platea dictumst. Aenean et sem
      vitae enim vulputate pretium.
    </card-content>
  </app-card>
</section>
<section class="domain-another pt pb">
  <app-card class="domain-another-card">
    <card-title class="another-card-title"
      >Working in another domain?
    </card-title>
    <card-content class="another-card-content"
      >We can provide help to a multiple other domains. Just contact us below to
      see how we can help you!</card-content
    >
    <card-action>
      <button cardAction class="another-card-action">CONTACT US</button>
    </card-action>
  </app-card>
</section>
