<section class="section min-h">
  <div class="section ft title">How it works?</div>
  <section class="section-card flex w">
    <app-card>
      <img src="./assets/img/icon-1.svg" alt="icon1" />
      <card-title>
        Input Data
      </card-title>
      <card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
        pretium libero sem sit amet enim.</card-content
      >
    </app-card>
    <app-card>
      <img src="./assets/img/icon-2.svg" alt="icon2" />
      <card-title>
        Process it
      </card-title>
      <card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
        pretium libero sem sit amet enim.</card-content
      >
    </app-card>
    <app-card>
      <img src="./assets/img/icon-2.svg" alt="icon2" />
      <card-title>
        Out Data
      </card-title>
      <card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
        pretium libero sem sit amet enim.</card-content
      >
    </app-card>
  </section>
</section>
