<app-card class="contact-card">
  <card-title class="contact-card-title">Contact Information</card-title>
  <card-content class="contact-card-content">
    <ul class="contact-ul ml">
      <li class="mb">
        27 Adress Name Boulevard,<br />
        3rd Floor, Hermes Business Center<br />
        Bucharest, Romania
      </li>
      <li class="mb">+40 0748 202 168</li>
      <li>petreamihaic@gmail.com</li>
    </ul>
  </card-content>
  <card-action class="card-action">
    <img src="./assets/img/Facebook.svg" alt="Facebook" class="w mr" />
    <img src="./assets/img/Twitter.svg" alt="Twitter" class="w mr" />
    <img src="./assets/img/Linkedin.svg" alt="Linkedin" class="w" />
  </card-action>
</app-card>
<img src="./assets/img/drone.png" alt="drone" class="w drone" />
