.flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(laptop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.flex-l {
  display: flex;
  flex-direction: column;
  @include media(laptop) {
    flex-direction: row;
  }
}

.flex-l-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media(laptop) {
    flex-direction: row;
  }
}

.flex-l-center {
  display: flex;
  flex-direction: column;
  @include media-max(laptop) {
    flex-wrap: wrap;
    align-items: center;
  }
  @include media(laptop) {
    flex-direction: row;
    justify-content: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
