.grid {
  --g-c: auto-fit;
  --g-r: auto-fit;
  --g-gap: 0;

  display: grid;
  justify-content: center;

  --grid-g-c: repeat(auto-fit, auto);
  --grid-g-r: repeat(auto-fit, auto);
  --grid-g-gap: #{varpx(--g-gap)};

  grid-template-columns: var(--grid-g-c);
  grid-template-rows: var(--grid-g-r);
  grid-gap: var(--grid-g-gap);

  @include media(laptop) {
    --grid-g-c: repeat(var(--g-c), auto) !important;
    --grid-g-r: repeat(var(--g-r), auto) !important;
    --grid-g-gap: #{product(--g-gap, --width-ratio)} !important;
  }
}

// .grid {
//   --g-gap: 0;
//   --g-c: 0;

//   display: grid;
//   justify-content: center;

//   --grid-g-c: repeat(1, auto);
//   --grid-g-gap: #{varpx(--g-gap)};

//   grid-template-columns: var(--grid-g-c);
//   grid-gap: var(--grid-g-gap);

//   @include media(laptop) {
//     --grid-g-c: repeat(var(--g-c), auto);
//     --grid-g-gap: #{product(--g-gap, --width-ratio)};
//   }
// }
