.pos {
  --pos-x: ;
  --pos-y: ;

  --position-left: #{varpx(--pos-x)};
  --position-top: #{varpx(--pos-y)};

  position: absolute;
  left: var(--position-left);
  top: var(--position-top);
  @include media(laptop) {
    --position-left: #{product(--pos-x, --width-ratio)};
    --position-top: #{product(--pos-y, --width-ratio)};
  }
}
