<figure>
  <img src="./assets/img/logo.svg" alt="brand logo" class="brand max-w" />
</figure>
<section class="flex-l">
  <app-card class="card pt pb"
    ><card-title class="card-title">Enescent Media</card-title>
    <card-content class="card-content"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
      finibus, odio ac pulvinar ultricies, velit diam dignissim nisi, vel
      pretium libero sem sit amet enim.</card-content
    >
    <card-action>
      <button cardAction class="card-action">CONTACT US</button>
    </card-action>
  </app-card>
  <figure class="fig-header">
    <img src="./assets/img/phone.png" alt="brand logo" class="header-img max-w" />
  </figure>
</section>
